# HOW TO USE:
#
# 1 Add environment variables for the various stages here
# 2 Rename this file to env.yml and uncomment it's usage
#   in the serverless.yml.
# 3 Make sure to not commit this file.

dev:
  APP_NAME: serverless-nodejs-starter
  ACCESS_KEY_ID: AKIAIVUZWAD5NVIH27DA
  SECRET_ACCESS_KEY: 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


prod:
  APP_NAME: serverless-nodejs
