# HOW TO USE:
#
# 1 Add environment variables for the various stages here
# 2 Rename this file to env.yml and uncomment it's usage
#   in the serverless.yml.
# 3 Make sure to not commit this file.

dev:
  APP_NAME: serverless-nodejs-starter
  ACCESS_KEY_ID: AKIAIVUZWAD5NVIH27DA
  SECRET_ACCESS_KEY: 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
  POOL_ID: us-east-1_qjGVAlzW9
  POOL_ARN: arn:aws:cognito-idp:us-east-1:502723119948:userpool/us-east-1_qjGVAlzW9
  APP_CLIENT_ID: 4on1v2qtgmsj8dndd0kg9bmu09
  DOMAIN_PREFIX: scratchnotes-app #amazon cognito domain


prod:
  APP_NAME: serverless-nodejs


aws cognito-idp sign-up \
  --region us-east-1 \
  --client-id 4on1v2qtgmsj8dndd0kg9bmu09 \
  --username admin@example.com \
  --password Passw0rd!

  aws cognito-idp admin-confirm-sign-up \
  --region us-east-1 \
  --user-pool-id us-east-1_qjGVAlzW9 \
  --username admin@example.com
